<!DOCTYPE html>
{% extends "base/base.html" %} {% load static %}

<!-- Complete page inherits html parts from base.html and places the content inside its body_title and content part-->
{% block title_block %}

<title>Chattool</title>

{% endblock %} {% block content %}
<h1>Chattool</h1>

    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        roomName = ''
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chattool/' + roomName + '/';
        };
    </script>




{% endblock %}
