<!-- Sidebar-right -->
<aside id="sidebar-right" class=" position-relative closed bg-dark sidebar">
    <div class="position-fixed fixed-container">
        <ul class=" link-color-white no-scrollbar  min-100-vh">
            <li class="nav-item">
                <a class="sidebar-link d-flex" href="/">
                    <span class="icon-holder"><i class="fa fa-home"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="sidebar-link d-flex" href="{% url 'character:editCharacters' %}">
                    <span class="icon-holder"><i class="fa fa-user"></i></span>
                    <span class="title">Character</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="sidebar-link d-flex dropdown" href="{% url 'game:games_list' %}">
                    <span class="icon-holder"><i class="fa fa-spider"></i></span>
                    <span class="title">Games</span>
                </a>
                <ul>
                    <li><a href="{% url 'game:create_game' %}">Create game</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="sidebar-link d-flex" href="{% url 'chattool:chattool' %}">
                    <span class="icon-holder"><i class="fa fa-paper-plane"></i></span>
                    <span class="title">Chat</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="sidebar-link d-flex " data-toggle="modal" data-target="#myModal">
                    <span class="icon-holder"><i class="fa fa-form"></i></span>
                    <span class="title">Modal</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="sidebar-link d-flex" href="{% url 'dice:dice' %}">
                    <span class="icon-holder"><i class="fa fa-dice"></i></span>
                    <span class="title">Dice</span>
                </a>
            </li>
        </ul>


    </div>
</aside>