<template>
  <div class="API_Test">
    <h1>This is the API-Test page</h1>
  </div>
</template>

<script>
import { apiService } from "../../common/api_service.js";
export default {
  name: "api_test",
  data() {
    return {
      games: []
    };
  },
  methods: {
    getGames() {
      let endpoint = "https://localhost/api/games/";
      apiService(endpoint).then(data => {
        this.games.push(...data.results);
      });
    }
  },
  created() {
    this.getGames()
    console.log(this.games)
  }
};
</script>