<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load my_filters %}
<!-- Complete page inherits html parts from base.html and places the content inside its body_title and content part-->
{% block title_block %}

<title>Index</title>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<h1 class="text-primary"> You are logged in, following you will see Test-Content </h1>

<!--Seite laedt-->
<h1 class="blue">Testseite</h1>
<h2>Eins Test war erfolgreich</h2>


<div class="row row-cols-1 row-cols-md-3">
    <!--tips: use row-cols-md-(X) to control how many of columns to show per row-->
    <!--tips: when you need equal height, add .h-100 to the cards-->
    <!--Card1-->
    <div class="col mb-4">
        <div class="card bg-dark">
            <img src="https://www.placecage.com/gif/640/360" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!--Card2-->
    <div class="col mb-4">
        <div class="card bg-dark">
            <img src="https://www.placecage.com/gif/640/360" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card2 title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <!--Card3-->
    <div class="col mb-4">
        <div class="card bg-dark">
            <img src="https://www.placecage.com/gif/640/360" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card3 title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <!--Card4-->
    <div class="col mb-4">
        <div class="card bg-dark">
            <img src="https://www.placecage.com/gif/640/360" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card4 title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>

<!--Einbinden einer mitgegebenen Variable aus Views inklusive Filter, der aus den Buchstaben Upper Case macht -->
<h2>{{ variable_insert | upper }}</h2>

<!--Das selbe mit einem selbst geschriebenen Filter unter dem Ordner templatetags -->
<h2>{{ variable_insert | cutOut:'Django' }}</h2>


<!--Einbinden von einem Bild aus static-->
<img loading=lazy src='{% static "images/examplepic.jpg" %}' alt="Picture Missing!" />
<!-- Lazyload test -->

Global Chat
{% include "chattool/chat_window.html" %}

<img loading=lazy src='https://www.placecage.com/gif/640/360' alt="Picture Missing!" />
<img loading=lazy src='https://www.placecage.com/gif/600/360' alt="Picture Missing!" />
<img loading=lazy src='https://www.placecage.com/gif/640/300' alt="Picture Missing!" />
<img loading=lazy src='https://www.placecage.com/gif/640/400' alt="Picture Missing!" />
<img loading=lazy src='https://www.placecage.com/gif/800/360' alt="Picture Missing!" />
<img loading=lazy src='https://www.placecage.com/gif/1200/360' alt="Picture Missing!" />
<img loading=lazy src='https://www.placecage.com/gif/900/400' alt="Picture Missing!" />


<!--Einbinden von Variablen mit Datenbank-Daten aus Views-->
<h2>Folgend Beispiele zum einbinden von Funktionen und Variablen in HTML direkt aus der Datenbank</h2>

<div class="index">
    {% if context.webpages_list %}

    <table>
        <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
        </thead>

        {% for page in webpages_list %}
        <tr>
            <td>{{ page.name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>NO ACCESS RECORDS FOUND!</p>
    {% endif %}
</div>

{% else %}

<h1 class="text-primary"> Please Login to see content here! </h1>


{% endif %}




{% endblock %}