{% extends "base/base.html" %}
{% load static %}
{% load bootstrap4 %}


<!-- Complete page inherits html parts from base.html and places the content inside its body_title and content part-->
{% block title_block %}
<title>Certbot Settings</title>
{% endblock %}




{% block content %}
<h1>All-Settings:</h1>
<div class="container">
<a href="{% url 'settings:settings' %}" class="badge badge-primary">Server Settings</a>
<a href="{% url 'settings:certbot' %}" class="badge badge-primary">Certbot Certificate Management</a>
<a href="{% url 'usermanager:user_change' %}" class="badge badge-primary">Change User Info</a>
<a href="{% url 'account_change_password' %}" class="badge badge-primary">Change Password</a>
<a href="{% url 'socialaccount_connections' %}" class="badge badge-primary">Edit Social Media Connections</a>

</div>

<!--Einbinden eines mitgegeben Formulars (CSRF ist ein Security Token der immer benoetigt wird!)-->
<h1>Certbot-Settings:</h1>

<div class="container">
    <h2>Request a certificate at Let's Encrypt with the following values:</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" class"btn btn-primary" value="Submit and Request Certificate (Will restart server!)" />
        {% endbuttons %}
    </form>
</div>

{% endblock %}