  <!-- this could be a popup message. (Danger, Warning, Info, Success, Primary, Secondary..  )
      We could use a timer to fadeout the message or if it´s an important message 
      we can put close button in the message field.  
  -->



  <div class="alert-box fixed-bottom m-5">
    <!-- Bottom Modal Box -->
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="alert-box fixed-top m-5">
    <!-- Top Modal Box 
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      A closable alert with an example link. Give it a click if you like.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    -->
  </div>