// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.



// main font: Kollektif
@font-face {
    font-family: 'kollektifregular';
    src: url('../../webfonts/main/kollektif.eot');
    src: url('../../webfonts/main/kollektif.eot?#iefix') format('embedded-opentype'), url('../../webfonts/main/kollektif.woff2') format('woff2'), url('../../webfonts/main/kollektif.woff') format('woff'), url('../../webfonts/main/kollektif.svg#kollektifregular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'kollektifregular';
    src: url('../../webfonts/main/kollektif-bold.eot');
    src: url('../../webfonts/main/kollektif-bold.eot?#iefix') format('embedded-opentype'), url('../../webfonts/main/kollektif-bold.woff2') format('woff2'), url('../../webfonts/main/kollektif-bold.woff') format('woff'), url('../../webfonts/main/kollektif-bold.svg#kollektifbold') format('svg');
    font-weight: bold;
    font-style: bold
}

@font-face {
    font-family: 'kollektifregular';
    src: url('../../webfonts/main/kollektif-bolditalic.eot');
    src: url('../../webfonts/main/kollektif-bolditalic.eot?#iefix') format('embedded-opentype'), url('../../webfonts/main/kollektif-bolditalic.woff2') format('woff2'), url('../../webfonts/main/kollektif-bolditalic.woff') format('woff'), url('../../webfonts/main/kollektif-bolditalic.svg#kollektifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic
}

@font-face {
    font-family: 'kollektifregular';
    src: url('../../webfonts/main/kollektif-italic.eot');
    src: url('../../webfonts/main/kollektif-italic.eot?#iefix') format('embedded-opentype'), url('../../webfonts/main/kollektif-italic.woff2') format('woff2'), url('../../webfonts/main/kollektif-italic.woff') format('woff'), url('../../webfonts/main/kollektif-italic.svg#kollektifitalic') format('svg');
    font-weight: normal;
    font-style: italic
}

$font-family-sans-serif: kollektifregular,
Tahoma,
Geneva,
sans-serif;


// Colors
$dark: #211e2b;
$gray: #211e2b;
$primary: #F27777;
$body-bg: #16141F;
$body-color: #fff;
$brand-primary: #F27777;
$brand-success: #11cc11;
$brand-info: cyan;
$brand-warning: #334455;
$brand-danger: #cc1111;
$white: #fff;


// Border
$border-radius: .3rem;

// Forms
$input-bg: transparent;
$input-color: $white;
$input-placeholder-color: rgba($white, .7);
$input-focus-border-color:$brand-primary;
$input-btn-focus-width: 0;


//Alert
$alert-bg-level: 10;
$alert-color-level: 0;
$alert-border-level: 0;



//close 
$close-text-shadow: 0 0 0 $white;

// btn
.bg-dark a.btn-outline-light {
    &:hover {
        color: $dark;
    }
}

.input-group {

    input.form-control:focus~.input-group-btn .btn {
        background-color: $primary;
        border-color: $primary;
    }

    .input-group-btn {
        .btn {
            margin-left: -1px;
            border-radius: 0 $border-radius $border-radius 0;
            -webkit-border-radius: 0 $border-radius $border-radius 0;
            -moz-border-radius: 0 $border-radius $border-radius 0;
            -ms-border-radius: 0 $border-radius $border-radius 0;
            -o-border-radius: 0 $border-radius $border-radius 0;

            &:hover {
                color: $dark;
                background-color: $primary;
                border-color: $primary;

            }
        }
    }
}