main {
  padding-top: 75px;
}

#main-nav {
  position: fixed;
  width: 100%;
  z-index: 21;
  height: 65px;

  nav {
    padding: 0;
    height: 65px;
    ;
  }
}

#button-sidebar-left {
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;

  &:hover {
    cursor: pointer;
  }
}

#button-sidebar-left.open {
  margin-right: 200px !important;
  min-width: 65px !important;
}