$sideWidth: 65px;
$primary: #F27777;
$primary-active: #F29999;
$dark: #211e2b;


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



.sidebar {
  z-index: 20;
  padding-top: 65px;
  transition: width .2s linear;
  -webkit-transition: width .2s linear;
  -moz-transition: width .2s linear;
  -ms-transition: width .2s linear;
  -o-transition: width .2s linear;

  &.open {
    a {
      transition: background-color .2s linear;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      -ms-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
    }

    a:active {

      background-color: $primary-active !important;
    }

    a:hover {
      background-color: $primary;
      transition: background-color .2s linear;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      -ms-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
    }
  }

  &.closed {
    a {
      transition: background-color .2s linear .2s !important;
      -webkit-transition: background-color .2s linear .2s !important;
      -moz-transition: background-color .2s linear .2s !important;
      -ms-transition: background-color .2s linear .2s !important;
      -o-transition: background-color .2s linear .2s !important;
    }

    a:hover span.title {
      opacity: 1;
      width: 200px;
      background-color: $primary;
      transition: background-color .2s linear .2s, width .2s linear .2s !important;
      -webkit-transition: background-color .2s linear .2s, width .2s linear .2s !important;
      -moz-transition: background-color .2s linear .2s, width .2s linear .2s !important;
      -ms-transition: background-color .2s linear .2s, width .2s linear .2s !important;
      -o-transition: background-color .2s linear .2s, width .2s linear .2s !important;
    }

    a span.title {
      opacity: 0;
      width: 0;
      background-color: $primary;
      transition: background-color .2s linear, width .2s linear, opacity .0s linear .2s !important;
      -webkit-transition: background-color .2s linear, width .2s linear, opacity .0s linear .2s !important;
      -moz-transition: background-color .2s linear, width .2s linear, opacity .0s linear .2s !important;
      -ms-transition: background-color .2s linear, width .2s linear, opacity .0s linear .2s !important;
      -o-transition: background-color .2s linear, width .2s linear, opacity .0s linear .2s !important;
    }

    a:active {
      background-color: $primary-active !important;
    }

    a:hover {
      background-color: $primary;
      transition: background-color .2s linear !important;
      -webkit-transition: background-color .2s linear !important;
      -moz-transition: background-color .2s linear !important;
      -ms-transition: background-color .2s linear !important;
      -o-transition: background-color .2s linear !important;
    }

    a.dropdown~ul {
      transition-delay: .0s !important;
      opacity: 1;
    }

    a.dropdown:hover~ul {
      background-color: rgb(165, 154, 154);
      transition-delay: .2s !important;
      opacity: 1;
    }





  }

  .fixed-container {
    width: inherit;
  }

  &.closed {
    min-width: $sideWidth;
    width: $sideWidth;

    li.nav-item {

      span.title {
        height: $sideWidth;
        width: 0px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: width .2s linear;
        -webkit-transition: width .2s linear;
        -moz-transition: width .2s linear;
        -ms-transition: width .2s linear;
        -o-transition: width .2s linear;
      }

      &:hover {

        span.title {
          width: 200px;
        }

        ul {
          width: 200px;
        }


      }



      ul {
        width: 0;
        height: auto;
        position: absolute;
        display: block;
        list-style-type: none;
        padding-bottom: 5px;
        left: 65px;
        overflow: hidden;
        transition: width .2s linear;
        -webkit-transition: width .2s linear;
        -moz-transition: width .2s linear;
        -ms-transition: width .2s linear;
        -o-transition: width .2s linear;

        li {
          width: 200px;
          padding: 0 10px;
        }

        ;
      }

    }
  }

  &.open {
    width: $sideWidth + 200px;
    min-width: 265px;
    overflow-x: inherit;

    li.nav-item {
      span.title {
        height: $sideWidth;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: pointer;
      }

      a.dropdown .title:after {
        content: ">";
        display: block;
        margin-left: 20px;
        transition: transform .2s linear;
        -webkit-transition: transform .2s linear;
        -moz-transition: transform .2s linear;
        -ms-transition: transform .2s linear;
        -o-transition: transform .2s linear;

      }

      &:hover .dropdown .title:after {
        text-decoration: none;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
      }

      &:hover span {
        color: inherit;
      }

      &:hover li {
        height: 20px;
        opacity: 1;
        transition: height .2s linear, opacity .1s linear .2s;
        -webkit-transition: height .2s linear, opacity .1s linear .2s;
        -moz-transition: height .2s linear, opacity .1s linear .2s;
        -ms-transition: height .2s linear, opacity .1s linear .2s;
        -o-transition: height .2s linear, opacity .1s linear .2s;
      }


      ul {
        padding-left: $sideWidth;
        overflow: hidden;
        width: 100%;
        display: block;
        height: auto;

        li {
          overflow: hidden;
          width: 100%;
          height: 0;
          opacity: 0;
          display: block;
          transition: height .2s linear .1s, opacity .1s linear;
          -webkit-transition: height .2s linear .1s, opacity .1s linear;
          -moz-transition: height .2s linear .1s, opacity .1s linear;
          -ms-transition: height .2s linear .1s, opacity .1s linear;
          -o-transition: height .2s linear .1s, opacity .1s linear;
        }

      }
    }

  }

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    li.nav-item {
      span.icon-holder {
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }


}

#sidebar {
  &-left {
    span.title {
      left: 65px;
    }
  }

  &-right {
    span.title {
      right: 65px;
    }
  }
}