<!DOCTYPE html>
{% load static %}
<html>

<head>
    <!-- Get Title from subpages -->
    <title>{% block head_title %}{% endblock %}</title>

    <!-- Header js/css section -->
    <link href='{% static "dist/css/bootstrap.min.css" %}' rel="stylesheet" />
    <link href='{% static "dist/css/font-awesome-all.min.css" %}' rel="stylesheet" />
    <link href='{% static "dist/css/pnp-manager.min.css" %}' rel="stylesheet" />
    <!-- / Header js/css section -->

    {% block extra_head %}
    {% endblock %}
</head>


<body class="">


    <div id="wrapper" class="d-flex">
        <header id="main-nav">
            {% include "base/navigation.html" %}
        </header>

        <!-- Sidebar-left -->
        {% if user.is_authenticated %}
        {% include "base/nav/sidebar-left.html" %}
        {% endif %}
        <!-- / Sidebar-left -->


        <!-- main content -->
        <div class="container-fluid ">



            <main class=" min-100-vh bd-content" role="main">
                {% block content %}
                {% endblock %}
                {% block extra_body %}
                {% endblock %}


            </main>
        </div>
        <!-- / main content -->


        <!-- Sidebar-right -->
        {% if user.is_authenticated %}
        {% include "base/nav/sidebar-right.html" %}
        {% endif %}

    </div>

    {% include "utilities/alert.html" %}
    {% include "utilities/modal.html" %}




    <!-- Footer js section -->
    <script type="text/javascript" src='{% static "dist/js/font-awesome-all.min.js" %}'></script>
    <script type="text/javascript" src='{% static "dist/js/jquery-3.5.1.slim.min.js" %}'></script>
    <script type="text/javascript" src='{% static "dist/js/popper.min.js" %}'></script>
    <script type="text/javascript" src='{% static "dist/js/bootstrap.bundle.min.js" %}'></script>
    <script type="text/javascript" src='{% static "dist/js/pnp-script-min.js" %}'></script>
    <!-- / Footer js section -->

</body>

</html>