<!-- Navbar -->
<nav class="navbar flex-grow-1 navbar-expand-sm ">
    <span id="button-sidebar-left" style="width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;" class="sidebar-link d-flex" href="email.html">
        <span class="icon-holder"><i class="fa fa-bars"></i></span>
    </span>



    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            {% else %}


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">options</a>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown03">
                    <a class="nav-item nav-link" href="{% url 'account_login' %}" class="btn btn-simple">Log in</a>
                    <a class="nav-item nav-link" href="{% url 'account_signup' %}" class="btn btn-simple">Sign up</a>
                    <a class="nav-item nav-link" href="{% url 'api-root' %}" class="btn btn-simple">API</a>
                    <a class="nav-item nav-link" href="{% url 'admin:index' %}" class="btn btn-simple">Django-Admin</a>

                </div>
            </li>
            {% endif %}
        </ul>
        <!-- <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form> -->

    </div>
</nav>