{% extends "base/base.html" %} 
{% block content %}

<div class="container contextmenu-container">
  <h1>List Game</h1>
  {% for game in object_list %}
  <li id="{{ game.id }}" class="contextmenu-item">{{ game.id }} - <a href="{% url 'game:game' game_id=game.id %}">{{ game.title }}</a></li>
  {% empty %}
  <li>No games created or no permissions on any yet.</li>
  {% endfor %}
</div>

<!-- HIDDEN DROPDOWN MENU-->
<div class="dropdown-menu" id="menu">
    <h6 class="dropdown-header">Actions</h6>
    <a class="dropdown-item" href="#"><i class="fas fa-plus-circle"></i> Add</a>
    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Edit</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i> Delete <span class="delete-name"></span></a>
</div>


{% endblock %}


{% comment %}
  Id vom geklickten Item muss an das Dropdown-Menu weitergegeben werden
{% endcomment %}
  