{% extends "base/base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-dark mynav" role="navigation" id="navbar">
  <div class="container">
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{% url 'game:update_game' game_id=game.id %}" class="btn btn-simple">Update Game Configs</a>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Game Name: {{ game.title }}</h1>
  <h2>Game Creator: {{ game.creator }}</h2>
  <h2>Chat Channel: {{ room_name }}</h2>

</div>

{% include "chattool/chat_window.html" %}

{% endblock %}